.zoom-in-up {
    animation: zoomInUpAnimation 1s ease forwards;
  }
  
  @keyframes zoomInUpAnimation {
    from {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
  }
  